@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using InventarioFarmacia_Front.Components.SimpleComponents.Loader
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 ">
            @* <NavLink href="/perfil">
                <button class="btn btn-primary">Mi Perfil</button>
            </NavLink> *@
        </div>

        <article class="content px-4 py-2">
            @if (EstadoCargador.IsLoading)
            {
                <Cargador />
            }
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Un error del diablo ocurrió
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        Navigation.LocationChanged += (_, __) =>
        {
            EstadoCargador.Activar();
            StateHasChanged();
        };
    }
}