<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Farmacias Blanco</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-4 fs-6"></i> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="productos">
                <i class="bi bi-box-seam-fill me-4 fs-6"></i> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="categorias">
                <i class="bi bi-folder-fill me-4 fs-6"></i> Categorías
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="inventarios">
                <i class="bi bi-clipboard-data-fill me-4 fs-6"></i> Inventarios 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="compras">
                <i class="bi bi-cart-plus-fill me-4 fs-6"></i> Compras
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="ventas">
                <i class="bi bi-cash-coin me-4 fs-6"></i> Ventas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fs-5" href="usuarios">
                <i class="bi bi-people-fill me-4 fs-6"></i> Usuarios
            </NavLink>
        </div>
    </nav>
</div>

