<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Farmacias Blanco</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true" class="h4">🏠</span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span aria-hidden="true" class="h4">📦</span> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventarios">
                <span aria-hidden="true" class="h4">📋</span> Inventarios 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compras">
                <span aria-hidden="true" class="h4">🛒</span> Compras
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span aria-hidden="true" class="h4">💰</span> Ventas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span aria-hidden="true" class="h4">👥</span> Usuarios
            </NavLink>
        </div>
    </nav>
</div>

