@page "/ventas"

<PageTitle>Ventas</PageTitle>

<h1>Ventas</h1>
<p>Esta es la página de ventas.</p>
<span>@ventas</span>


<NavLink class="btn btn-primary" href="/ventas/nuevaVenta">Realizar Venta</NavLink>
@code {
    string ventas = "Aquí se mostrarán las ventas realizadas.";
}