<div class="bg-black bg-opacity-75 d-flex flex-column align-items-center justify-content-center position-fixed w-100 h-100 z-3 top-0 start-0">
    <div class="spinner-border text-white mb-3"></div> 
    <span class="text-white fs-4">Cargando...</span>
</div>
@code {
}
