.kratos-easteregg {
  position: fixed;
  margin: 0 25vw;
  background-color: #aaaaaaaa;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50vw;
  z-index: 999;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
