@page "/compras"

<PageTitle>Compras</PageTitle>

<h1>Compras</h1>
<p>Esta es la página de compras.</p>
<span>@compras</span>

@code {
    string compras = "Aquí se gestionarán las compras de medicamentos y productos.";
}