@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="fw-bold">Sistema de Inventario de Farmacias Blanco</h1>
    <p class="lead">Bienvenido al sistema de gestión de inventarios.</p>
    <p>Utilice el menú de navegación para acceder a las diferentes funcionalidades.</p>
</div>