@page "/inventarios"

<PageTitle>Inventarios</PageTitle>

<h1>Inventarios</h1>
<p>Esta es la página de inventarios.</p>
<span>@inventarios</span>

@code {
    string inventarios = "Aquí se mostrará el control de inventarios de la farmacia.";
}