@page "/usuarios"

<PageTitle>Usuarios</PageTitle>

<h1>Usuarios</h1>
<p>Esta es la página de usuarios.</p>
<span>@usuarios</span>

@code {
    string usuarios = "Aquí se gestionarán los usuarios del sistema de farmacia.";
}